<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                          http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

  <bean id="idpPersistenceEngine" class="org.guanxi.idp.persistence.db.DerbyPersistenceEngine"
        init-method="init" destroy-method="destroy">
    <property name="logger"><ref bean="idpLogger"/></property>
    <property name="loggerConfig"><ref bean="idpPersistenceEngineLoggerConfig"/></property>

    <property name="driver"><value>org.apache.derby.jdbc.EmbeddedDriver</value></property>
    <property name="connectionString"><value>jdbc:derby:guanxiidp</value></property>
    <property name="usernameProperty"><value>user</value></property>
    <property name="usernameValue"><value>user1</value></property>
    <property name="passwordProperty"><value>password</value></property>
    <property name="passwordValue"><value>user1</value></property>

    <property name="dbConfig"><ref bean="standardConfig" /></property>

    <property name="framework"><value>embedded</value></property>
    <property name="databaseDirectory"><value>/tmp/derby</value></property>
  </bean>

  <!--
  <bean id="idpPersistenceEngine" class="org.guanxi.idp.persistence.db.JDBCPersistenceEngine"
        init-method="init" destroy-method="destroy">
    <property name="logger"><ref bean="idpLogger"/></property>
    <property name="loggerConfig"><ref bean="idpPersistenceEngineLoggerConfig"/></property>

    <property name="driver"><value>com.mysql.jdbc.Driver</value></property>
    <property name="connectionString"><value>jdbc:mysql://localhost/guanxiidp</value></property>
    <property name="usernameProperty"><value>user</value></property>
    <property name="usernameValue"><value>guanxiidp</value></property>
    <property name="passwordProperty"><value>password</value></property>
    <property name="passwordValue"><value>hohoho</value></property>

    <property name="dbConfig"><ref bean="standardConfig" /></property>
  </bean>
  -->

  <!--
  <bean id="idpPersistenceEngine" class="org.guanxi.idp.persistence.db.PostgresPersistenceEngine"
        init-method="init" destroy-method="destroy">
    <property name="logger"><ref bean="idpLogger"/></property>
    <property name="loggerConfig"><ref bean="idpPersistenceEngineLoggerConfig"/></property>

    <property name="driver"><value>org.postgresql.Driver</value></property>
    <property name="connectionString"><value>jdbc:postgresql://localhost:5432/guanxiidp</value></property>
    <property name="usernameProperty"><value>user</value></property>
    <property name="usernameValue"><value>alistair</value></property>
    <property name="passwordProperty"><value>password</value></property>
    <property name="passwordValue"><value>x</value></property>

    <property name="dbConfig"><ref bean="standardConfig" /></property>
  </bean>
  -->

  <bean id="standardConfig" class="org.guanxi.idp.persistence.db.DBConfig">
    <property name="databaseName"><value>guanxiidp</value></property>
    <property name="tableName"><value>persistent_user_attributes</value></property>
    <property name="fieldPrimaryKey"><value>id</value></property>
    <property name="fieldUserid"><value>userid</value></property>
    <property name="fieldAttributeName"><value>attribute_name</value></property>
    <property name="fieldAttributeValue"><value>attribute_value</value></property>
    <property name="fieldRelyingParty"><value>relying_party</value></property>
  </bean>

  <bean id="idpPersistenceEngineLoggerConfig" class="org.guanxi.common.log.Log4JLoggerConfig">
    <property name="logFile"><value>/WEB-INF/guanxi_idp/logs/jdbc-persistence-engine.log</value></property>
    <property name="logConfigFile"><value>/WEB-INF/guanxi_idp/config/idp-log4j.xml</value></property>
    <property name="logLayout"><value>%d{dd MMMM yyyy HH:mm:ss} - %m%n</value></property>
    <property name="logMaxFileSize"><value>5MB</value></property>
    <property name="logMaxBackupIndex"><value>5</value></property>
  </bean>
  
</beans>